<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <configVersion>1</configVersion>
  <updateCheck>1663997707</updateCheck>
  <skipVersion>
    <Major>0</Major>
    <Minor>0</Minor>
  </skipVersion>
  <toolTips>true</toolTips>
  <avrdudeLoc />
  <avrdudeConfLoc />
  <avrSizeLoc />
  <windowLocation>
    <X>26</X>
    <Y>26</Y>
  </windowLocation>
  <language>english</language>
  <hiddenMCUs>
    <string>uc3a0512</string>
    <string>c128</string>
    <string>c32</string>
    <string>c64</string>
    <string>pwm2</string>
    <string>pwm216</string>
    <string>pwm2b</string>
    <string>pwm3</string>
    <string>pwm316</string>
    <string>pwm3b</string>
    <string>1200</string>
    <string>2313</string>
    <string>2333</string>
    <string>2343</string>
    <string>4414</string>
    <string>4433</string>
    <string>4434</string>
    <string>8515</string>
    <string>8535</string>
    <string>usb1286</string>
    <string>usb1287</string>
    <string>usb162</string>
    <string>usb646</string>
    <string>usb647</string>
    <string>usb82</string>
    <string>m103</string>
    <string>m128</string>
    <string>m1280</string>
    <string>m1281</string>
    <string>m1284</string>
    <string>m1284p</string>
    <string>m1284rfr2</string>
    <string>m128a</string>
    <string>m128rfa1</string>
    <string>m128rfr2</string>
    <string>m16</string>
    <string>m1608</string>
    <string>m1609</string>
    <string>m161</string>
    <string>m162</string>
    <string>m163</string>
    <string>m164a</string>
    <string>m164p</string>
    <string>m164pa</string>
    <string>m165</string>
    <string>m165a</string>
    <string>m165p</string>
    <string>m165pa</string>
    <string>m168</string>
    <string>m168a</string>
    <string>m168p</string>
    <string>m168pa</string>
    <string>m168pb</string>
    <string>m169</string>
    <string>m169a</string>
    <string>m169p</string>
    <string>m169pa</string>
    <string>m16a</string>
    <string>m16u2</string>
    <string>m16u4</string>
    <string>m2560</string>
    <string>m2561</string>
    <string>m2564rfr2</string>
    <string>m256rfr2</string>
    <string>m32</string>
    <string>m3208</string>
    <string>m3209</string>
    <string>m324a</string>
    <string>m324p</string>
    <string>m324pa</string>
    <string>m324pb</string>
    <string>m325</string>
    <string>m3250</string>
    <string>m3250a</string>
    <string>m3250p</string>
    <string>m3250pa</string>
    <string>m325a</string>
    <string>m325p</string>
    <string>m325pa</string>
    <string>m328</string>
    <string>m328p</string>
    <string>m328pb</string>
    <string>m329</string>
    <string>m3290</string>
    <string>m3290a</string>
    <string>m3290p</string>
    <string>m3290pa</string>
    <string>m329a</string>
    <string>m329p</string>
    <string>m329pa</string>
    <string>m32a</string>
    <string>m32m1</string>
    <string>m32u2</string>
    <string>m32u4</string>
    <string>m406</string>
    <string>m48</string>
    <string>m4808</string>
    <string>m4809</string>
    <string>m48a</string>
    <string>m48p</string>
    <string>m48pa</string>
    <string>m48pb</string>
    <string>m64</string>
    <string>m640</string>
    <string>m644</string>
    <string>m644a</string>
    <string>m644p</string>
    <string>m644pa</string>
    <string>m644rfr2</string>
    <string>m645</string>
    <string>m6450</string>
    <string>m6450a</string>
    <string>m6450p</string>
    <string>m645a</string>
    <string>m645p</string>
    <string>m649</string>
    <string>m6490</string>
    <string>m6490a</string>
    <string>m6490p</string>
    <string>m649a</string>
    <string>m649p</string>
    <string>m64a</string>
    <string>m64m1</string>
    <string>m64rfr2</string>
    <string>m8</string>
    <string>m808</string>
    <string>m809</string>
    <string>m8515</string>
    <string>m8535</string>
    <string>m88</string>
    <string>m88a</string>
    <string>m88p</string>
    <string>m88pa</string>
    <string>m88pb</string>
    <string>m8a</string>
    <string>m8u2</string>
    <string>x128a1</string>
    <string>x128a1d</string>
    <string>x128a1u</string>
    <string>x128a3</string>
    <string>x128a3u</string>
    <string>x128a4</string>
    <string>x128a4u</string>
    <string>x128b1</string>
    <string>x128b3</string>
    <string>x128c3</string>
    <string>x128d3</string>
    <string>x128d4</string>
    <string>x16a4</string>
    <string>x16a4u</string>
    <string>x16c4</string>
    <string>x16d4</string>
    <string>x16e5</string>
    <string>x192a1</string>
    <string>x192a3</string>
    <string>x192a3u</string>
    <string>x192c3</string>
    <string>x192d3</string>
    <string>x256a1</string>
    <string>x256a3</string>
    <string>x256a3b</string>
    <string>x256a3bu</string>
    <string>x256a3u</string>
    <string>x256c3</string>
    <string>x256d3</string>
    <string>x32a4</string>
    <string>x32a4u</string>
    <string>x32c4</string>
    <string>x32d4</string>
    <string>x32e5</string>
    <string>x384c3</string>
    <string>x384d3</string>
    <string>x64a1</string>
    <string>x64a1u</string>
    <string>x64a3</string>
    <string>x64a3u</string>
    <string>x64a4</string>
    <string>x64a4u</string>
    <string>x64b1</string>
    <string>x64b3</string>
    <string>x64c3</string>
    <string>x64d3</string>
    <string>x64d4</string>
    <string>x8e5</string>
    <string>.xmega</string>
    <string>avr128da28</string>
    <string>avr128da32</string>
    <string>avr128da48</string>
    <string>avr128da64</string>
    <string>avr128db28</string>
    <string>avr128db32</string>
    <string>avr128db48</string>
    <string>avr128db64</string>
    <string>avr16dd14</string>
    <string>avr16dd20</string>
    <string>avr16dd28</string>
    <string>avr16dd32</string>
    <string>avr16ea28</string>
    <string>avr16ea32</string>
    <string>avr16ea48</string>
    <string>avr32da28</string>
    <string>avr32da32</string>
    <string>avr32da48</string>
    <string>avr32db28</string>
    <string>avr32db32</string>
    <string>avr32db48</string>
    <string>avr32dd14</string>
    <string>avr32dd20</string>
    <string>avr32dd28</string>
    <string>avr32dd32</string>
    <string>avr32ea28</string>
    <string>avr32ea32</string>
    <string>avr32ea48</string>
    <string>avr64da28</string>
    <string>avr64da32</string>
    <string>avr64da48</string>
    <string>avr64da64</string>
    <string>avr64db28</string>
    <string>avr64db32</string>
    <string>avr64db48</string>
    <string>avr64db64</string>
    <string>avr64dd14</string>
    <string>avr64dd20</string>
    <string>avr64dd28</string>
    <string>avr64dd32</string>
    <string>avr64ea28</string>
    <string>avr64ea32</string>
    <string>avr64ea48</string>
    <string>avr8ea28</string>
    <string>avr8ea32</string>
    <string>.avr8x</string>
    <string>.avr8x_mega</string>
    <string>.avr8x_tiny</string>
    <string>.avrdx</string>
    <string>.avrex</string>
    <string>.reduced_core_tiny</string>
    <string>ucr2</string>
    <string>lgt8f168p</string>
    <string>lgt8f328p</string>
    <string>lgt8f88p</string>
  </hiddenMCUs>
  <hiddenProgrammers>
    <string>diecimila</string>
    <string>jtagkey</string>
    <string>usbasp-clone</string>
    <string>arduinoisp</string>
    <string>arduinoisporg</string>
    <string>arduino-ft232r</string>
    <string>avr109</string>
    <string>avr911</string>
    <string>dragon_dw</string>
    <string>dragon_hvsp</string>
    <string>dragon_isp</string>
    <string>dragon_jtag</string>
    <string>dragon_pdi</string>
    <string>dragon_pp</string>
    <string>avrisp</string>
    <string>avrispmkII</string>
    <string>avrisp2</string>
    <string>avrispv2</string>
    <string>jtag3dw</string>
    <string>jtag3isp</string>
    <string>jtag3</string>
    <string>jtag3pdi</string>
    <string>jtag3updi</string>
    <string>xplainedmini_dw</string>
    <string>xplainedmini</string>
    <string>xplainedmini_updi</string>
    <string>xplainedpro</string>
    <string>xplainedpro_updi</string>
    <string>butterfly</string>
    <string>jtag1slow</string>
    <string>jtag1</string>
    <string>jtagmkI</string>
    <string>jtag2fast</string>
    <string>jtag2</string>
    <string>jtagmkII</string>
    <string>jtag2slow</string>
    <string>jtag2avr32</string>
    <string>jtagmkII_avr32</string>
    <string>jtag2dw</string>
    <string>jtag2isp</string>
    <string>jtag2pdi</string>
    <string>avr910</string>
    <string>powerdebugger_dw</string>
    <string>powerdebugger_isp</string>
    <string>powerdebugger</string>
    <string>powerdebugger_pdi</string>
    <string>powerdebugger_updi</string>
    <string>stk500</string>
    <string>stk500hvsp</string>
    <string>stk500pp</string>
    <string>stk500v1</string>
    <string>stk500v2</string>
    <string>stk600</string>
    <string>stk600hvsp</string>
    <string>stk600pp</string>
    <string>atmelice_dw</string>
    <string>atmelice_isp</string>
    <string>atmelice</string>
    <string>atmelice_pdi</string>
    <string>atmelice_updi</string>
    <string>ehajo-isp</string>
    <string>bwmega</string>
    <string>c232hm</string>
    <string>mib510</string>
    <string>pkobn_updi</string>
    <string>ponyser</string>
    <string>flip1</string>
    <string>flip2</string>
    <string>avrftdi</string>
    <string>2232HIO</string>
    <string>ft232h</string>
    <string>ft232r</string>
    <string>ft245r</string>
    <string>4232h</string>
    <string>ttl232r</string>
    <string>pavr</string>
    <string>jtag2updi</string>
    <string>ktlink</string>
    <string>siprog</string>
    <string>lm3s811</string>
    <string>pickit2</string>
    <string>micronucleus</string>
    <string>mkbutterfly</string>
    <string>butterfly_mk</string>
    <string>pickit4_isp</string>
    <string>pickit4_pdi</string>
    <string>pickit4_updi</string>
    <string>snap_isp</string>
    <string>snap_pdi</string>
    <string>snap_updi</string>
    <string>nibobee</string>
    <string>o-link</string>
    <string>openmoko</string>
    <string>dasa3</string>
    <string>c2n232i</string>
    <string>dasa</string>
    <string>serialupdi</string>
    <string>tc2030</string>
    <string>teensy</string>
    <string>buspirate</string>
    <string>buspirate_bb</string>
    <string>tumpa</string>
    <string>um232h</string>
    <string>uncompatino</string>
    <string>usbasp</string>
    <string>usbtiny</string>
    <string>iseavrprog</string>
    <string>wiring</string>
    <string>xbee</string>
  </hiddenProgrammers>
  <previousSettings>
    <programmer>arduino</programmer>
    <mcu>t13</mcu>
    <port>COM16</port>
    <baud>19200</baud>
    <bitclock />
    <flashFile>C:\Users\Olivier\Desktop\Project_Relai_DIY\Blink.ino.hex</flashFile>
    <flashFormat>a</flashFormat>
    <flashOp>w</flashOp>
    <EEPROMFile />
    <EEPROMFormat>a</EEPROMFormat>
    <EEPROMOp>w</EEPROMOp>
    <force>true</force>
    <disableVerify>false</disableVerify>
    <disableFlashErase>false</disableFlashErase>
    <eraseFlashAndEEPROM>false</eraseFlashAndEEPROM>
    <doNotWrite>false</doNotWrite>
    <lfuse>0x6f</lfuse>
    <hfuse>0xFF</hfuse>
    <efuse>0x00</efuse>
    <setFuses>false</setFuses>
    <lockBits>0x3F</lockBits>
    <setLock>false</setLock>
    <additional />
    <verbosity>0</verbosity>
    <name />
  </previousSettings>
  <usePreviousSettings>true</usePreviousSettings>
  <windowSize>
    <Width>660</Width>
    <Height>647</Height>
  </windowSize>
  <checkForUpdates>true</checkForUpdates>
</ConfigData>